@import './common';
.login {
    .container {
        margin: 0;
        padding: 0; 
    }
    #root {
        overflow: hidden;
    }
    h2 {
        color: $main-color;
    }
    .grid {
        height: 100vh;
      }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
        height: 500px;
        display: flex!important;
        justify-content: center;
    }
}