@import '../styles/common';

img {
	width: 100%;
}
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.nav-bar {
	width: 100%;
	height: 130px;
	background: white;
	padding: 0 20px;
	box-shadow: 0 4px 3px -3px darken(white, 50%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	// overflow: visible;
	transition: 0.3s;

	a {
		color: $blueGreen;
	}
}

.header-logo {
	float: left;
	padding-top: 10px;

	img {
		background-size: contain;
		width: auto !important;
		height: 110px;
		transition: 0.3s;
	}
}

.nav-menu {
	float: right;
	transition: 0.3s;

	li {
		margin: 20px auto;
		transition: 0.3s;
	}
}

.nav-btn-lists {
	ul {
		display: flex;
		justify-content: flex-end;
	}
}

.nav-pagelink-lists {
	ul {
		display: flex;
	}

	a {
		padding: 15px 30px;
		transition: 0.3s;

		&:hover {
			color: $yellow;
		}
	}
}

#toggle {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

.menu-trigger-btn,
.menu-trigger-btn span {
	display: none;
	transition: all 0.4s;
	box-sizing: border-box;
	z-index: 9999;
	cursor: pointer;
}

.menu-trigger-btn {
	position: fixed;
	top: 40px;
	right: 20px;
	width: 40px;
	height: 40px;
}

.menu-trigger-btn span {
	position: absolute;
	left: 0;
	width: 80%;
	height: 4px;
	background-color: #000;
	border-radius: 4px;

	&:nth-child(1) {
		top: 10px;
	}
	&:nth-child(2) {
		top: 20px;
	}
	&:nth-child(3) {
		bottom: 6px;
	}
}

.shrink-nav-bar {
	height: 70px;

	img {
		height: 50px;
		padding: 0;
	}

	.menu-trigger-btn {
		top: 13px;
	}

	.nav-btn-lists {
		float: right;
	}
	.nav-pagelink-lists {
		float: left;
	}
}

.ui.button.instagram.insta-color {
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
}

@media screen and (max-width: 768px) {
	.nav-btn-lists {
		ul {
			flex-direction: row;
		}
	}
	.shrink-nav-bar {
		height: 100px;

		img {
			width: auto !important;
			height: 80px;
		}

		.nav-btn-lists {
			float: unset;
		}
		.nav-pagelink-lists {
			float: unset;
		}

		.menu-trigger-btn {
			top: 33px;
		}
	}
	.nav-menu {
		position: fixed;
		z-index: 9998;
		transform: translate3d(0, 0, 0);
		top: 0;
		right: -75%;
		width: 75%;
		height: 106vh;
		background: $blueGreen;
		transition: all 0.4s;

		a {
			color: white !important;
		}
	}

	.nav-menu-lists {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		height: 100%;
	}

	.nav-btn-lists,
	.nav-pagelink-lists {
		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			a {
				font-size: 2rem;
			}
		}
	}

	.nav-btn-lists {
		ul {
			flex-direction: row;
		}
	}

	.menu-trigger-btn,
	.menu-trigger-btn span {
		display: inline-block;
	}

	#toggle:checked ~ .nav-menu {
		right: 0;
	}

	#toggle:checked ~ .menu-trigger-btn {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

	#toggle:checked ~ .menu-trigger-btn span {
		&:nth-child(1) {
			-webkit-transform: translateY(20px) rotate(-45deg);
			transform: translateY(10px) rotate(-45deg);
		}
		&:nth-child(2) {
			-webkit-transform: translateY(0) rotate(45deg);
			transform: translateY(0) rotate(45deg);
		}
		&:nth-child(3) {
			opacity: 0;
		}
	}
}

@media screen and (max-width: 468px) {
	.nav-bar {
		height: 60px;

		.menu-trigger-btn {
			top: 10px;
		}
		img {
			height: 40px;
		}
	}
}
