// Variables
$red: #e86262;
$yellow: #f4c252;
$green: #94cd98;
$blue: #448fb3;
$blueGreen: #70afac;

// mixins
@mixin padding {
	padding-top: 100px;
	padding-bottom: 100px;
}

@mixin margin {
	margin-top: 100px;
}

p {
	word-wrap: break-word;
}
h1 {
	font-size: 4.5rem;
}
h2 {
	width: 100%;
	color: white;
	font-size: 3rem;
	text-align: center;
}
h3 {
	font-size: 1.625rem;
}
.main-visual {
	margin-bottom: 100px;
}
.content-padding {
	padding: 100px 0;
}

.blueGreen {
	background-color: $blueGreen;
}

.red {
	background-color: $red;
}

.white-text {
	color: white !important;
}

.blue-text {
	color: $blueGreen !important;
}
