@import 'common';

.margin {
	@include margin;
}

// Header.js-----------------------------

.nav-bar {
	width: 100%;
	height: 130px;
	background: white;
	padding: 0 20px;
	box-shadow: 0 4px 3px -3px darken(white, 50%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	overflow: hidden;
	transition: 0.3s;

	a {
		color: $blueGreen;
	}
}

.logo {
	float: left;
	padding-top: 10px;

	img {
		background-size: contain;
		width: auto !important;
		height: 110px;
		transition: 0.3s;
	}
}

.nav-menu {
	float: right;
	transition: 0.3s;

	li {
		margin: 20px auto;
		transition: 0.3s;
	}
}

.nav-btn-lists {
	ul {
		display: flex;
		justify-content: flex-end;
	}
}

.nav-pagelink-lists {
	ul {
		display: flex;
	}

	a {
		padding: 15px 30px;
		transition: 0.3s;

		&:hover {
			color: $yellow;
		}
	}
}

#toggle {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

.menu-trigger-btn,
.menu-trigger-btn span {
	display: none;
	transition: all 0.4s;
	box-sizing: border-box;
	z-index: 9999;
	cursor: pointer;
}

.menu-trigger-btn {
	position: fixed;
	top: 40px;
	right: 20px;
	width: 40px;
	height: 40px;
}

.menu-trigger-btn span {
	position: absolute;
	left: 0;
	width: 80%;
	height: 4px;
	background-color: #000;
	border-radius: 4px;

	&:nth-child(1) {
		top: 10px;
	}
	&:nth-child(2) {
		top: 20px;
	}
	&:nth-child(3) {
		bottom: 6px;
	}
}

.shrink-nav-bar {
	height: 70px;

	img {
		height: 50px;
		padding: 0;
	}

	.menu-trigger-btn {
		top: 13px;
	}

	.nav-btn-lists {
		float: right;
	}
	.nav-pagelink-lists {
		float: left;
	}
}

@media screen and (max-width: 768px) {
	.shrink-nav-bar {
		height: 130px;

		img {
			width: auto !important;
			height: 110px;
		}

		.nav-btn-lists {
			float: unset;
		}
		.nav-pagelink-lists {
			float: unset;
		}

		.menu-trigger-btn {
			top: 40px;
		}
	}
	.nav-menu {
		position: fixed;
		top: 0;
		right: -50%;
		width: 50%;
		height: 106vh;
		background: $blueGreen;
		transition: all 0.4s;

		a {
			color: white !important;
		}
	}

	.nav-menu-lists {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		height: 100%;
	}

	.nav-btn-lists,
	.nav-pagelink-lists {
		ul {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.menu-trigger-btn,
	.menu-trigger-btn span {
		display: inline-block;
	}

	#toggle:checked ~ .nav-menu {
		right: 0;
	}

	#toggle:checked ~ .menu-trigger-btn {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

	#toggle:checked ~ .menu-trigger-btn span {
		&:nth-child(1) {
			-webkit-transform: translateY(20px) rotate(-45deg);
			transform: translateY(10px) rotate(-45deg);
		}
		&:nth-child(2) {
			-webkit-transform: translateY(0) rotate(45deg);
			transform: translateY(0) rotate(45deg);
		}
		&:nth-child(3) {
			opacity: 0;
		}
	}
}

// Home.js----------------------------------

.slides-wrap {
	position: relative;
	overflow: hidden;
}

.slideImage {
	object-fit: cover;
	object-position: 50% 25%;
	width: 100%;
	height: 100vh;
	vertical-align: bottom;
}

// AboutUs.js--------------------------------

.flex-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;

	.image-wrap {
		margin-left: 50px;
	}
}

.reverse-order {
	flex-direction: row-reverse;
	justify-content: flex-end;

	.image-wrap {
		margin-left: 0;
		margin-right: 50px;
	}
}

.text-wrap {
	width: 55%;
}

.image-wrap {
	width: 40%;
}

@media screen and (max-width: 768px) {
	// .flex-container,
	// .reverse-order {
	// 	img {
	// 		margin: 0 auto;
	// 	}
	// }
	.flex-container,
	.reverse-order {
		flex-direction: column;

		div {
			width: 100%;
			padding: 15px 0;
			text-align: center;
		}
		.image-wrap {
			margin: 0;
		}
	}
}

// Faq.js

.acd-check {
	display: none;
}
.acd-label {
	border-radius: 2px;
	background: white;
	color: $blueGreen;
	display: block;
	margin-bottom: 1px;
	padding: 10px;
}
.acd-content {
	height: 0;
	opacity: 0;
	padding: 0 10px;
	transition: 0.5s;
	visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content {
	height: 40px;
	opacity: 1;
	padding: 10px;
	visibility: visible;
}

// Carousel.js

.carousel-wrap {
	width: 50%;
	margin: 0 auto;
}

// Articles
.articles {
	background-color: $blueGreen;
	.article-list {
		margin-bottom: 100px;
	}
	.article-box {
		margin-bottom: 50px !important;
		.content {
			padding: 15px;
			background-color: #448fb3;
			-webkit-box-shadow: 2px 3px 6px 1px #61908e;
			box-shadow: 2px 3px 6px 1px #61908e;
		}
		h3 {
			margin-bottom: 5px;
		}
		a,
		p,
		span {
			color: white !important;
		}
	}
}
.article-detail {
	section.container {
		margin-bottom: 150px;
		padding-top: 100px;
	}
	.four ul {
		margin-top: 94px;
	}
	.aticle-image {
		min-height: 150px;
	}
	.article-content {
		p {
			color: white;
			font-size: 1.6rem;
		}
	}
}

// Student Interview

.student-interview {
	.interview-content {
		margin-top: 50px;
		h3 {
			font-size: 2rem;
			color: #f4c252;
		}
		h4 {
			margin: 15px 0 5px 0;
			font-size: 1.625rem;
		}
		.image {
			width: 100%;
		}
		.student-info {
			padding: 0 50px !important;
			text-align: left;
			align-self: center;
			color: white;
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
		@media screen and (max-width: 768px) {
			.image {
				margin: auto;
				width: 300px;
			}
			.student-info {
				text-align: center;
			}
			&:nth-child(even) {
				flex-direction: column;
			}
		}
	}
}

// Contact.js----------------------------------------
.contact-form {
	width: 600px;
	margin: 0 auto !important;
}
