@import 'common';
// Home.js----------------------------------

.slides-wrap {
	position: relative;
	overflow: hidden;
}

.slideImage {
	object-fit: cover;
	object-position: 50% 25%;
	width: 100%;
	height: 100vh;
	vertical-align: bottom;
}

.faq-section-title {
	color: #458fb4 !important;
}

// Carousel.js

.carousel-wrap {
	width: 50%;
	margin: 0 auto;
}

// Student Interview

.student-interview {
	.interview-content {
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
		h3 {
			font-size: 2rem;
			color: #f4c252;
		}
		h4 {
			margin: 15px 0 5px 0;
			font-size: 1.625rem;
		}
		.image {
			width: 100%;
		}
		.student-info {
			padding: 0 50px !important;
			text-align: left;
			align-self: center;
			color: white;
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
		@media screen and (max-width: 768px) {
			.image {
				margin: auto;
				width: 300px;
			}
			.student-info {
				text-align: center;
			}
			&:nth-child(even) {
				flex-direction: column;
			}
		}
	}
}

// Contact.js----------------------------------------
.contact-form {
	width: 600px;
	margin: 0 auto !important;
	background-color: lighten($blueGreen, 40%) !important;
}
