@import 'common';

.blueGreen {
	background-color: $blueGreen;
}

.red {
	background-color: $red;
}

.white-text {
	color: white !important;
}

.blue-text {
	color: $blueGreen !important;
}

.content-padding {
	@include padding;
}

.margin {
	@include margin;
}

// Header.js

.links {
	img {
		background-size: contain;
	}
	a {
		color: $yellow !important;
	}
}

// Home.js
.slides-wrap {
	position: relative;
	overflow: hidden;
}

.slideImage {
	object-fit: cover;
	object-position: 50% 25%;
	width: 100%;
	height: 100vh;
	vertical-align: bottom;
}

// AboutUs.js

.bcg-base {
	background-color: $blue;
	position: relative;
}

.bcg-image {
	width: 100%;
	height: 60vh;
	object-fit: cover;
	vertical-align: bottom;
	object-position: 50% 30%;
	opacity: 0.6;
}

.main-header {
	position: absolute;
	top: 0;
	left: 200px;
}

// Carousel.js

.carousel-wrap {
	width: 50%;
	margin: 0 auto;
}
